EXPO_PUBLIC_APP_NAME=CustomTube
EXPO_PUBLIC_APP_SLUG=CustomTube
EXPO_PUBLIC_FAVICON_URL=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_ICON=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_IOS_BUNDLE_IDENTIFIER=com.customtube.owntube
EXPO_PUBLIC_ANDROID_PACKAGE=com.customtube.owntube
EXPO_PUBLIC_SPLASH_BG_COLOR='#FFFFFF'
EXPO_PUBLIC_SPLASH_IMAGE=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_ANDROID_TV_BANNER=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_APPLE_TV_ICON=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_APPLE_TV_ICON_SMALL=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_APPLE_TV_ICON_SMALL_2X=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_APPLE_TV_TOP_SHELF=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_APPLE_TV_TOP_SHELF_2X=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_APPLE_TV_TOP_SHELF_WIDE=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_APPLE_TV_TOP_SHELF_WIDE_2X=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_PRIMARY_BACKEND=your.own.peertube.instance.com
EXPO_PUBLIC_HIDE_VIDEO_SITE_LINKS=1
EXPO_PUBLIC_ICON_192=https://cdn-icons-png.flaticon.com/192/1170/1170688.png
EXPO_PUBLIC_ICON_512=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_APP_THEME_COLOR='#000000'
EXPO_APP_BG_COLOR='#FFFFFF'
EXPO_APP_DESCRIPTION=A nice PeerTube client app.
EXPO_PUBLIC_FOOTER_LOGO=https://cdn-icons-png.flaticon.com/512/1170/1170688.png
EXPO_PUBLIC_PROVIDER_LEGAL_ENTITY='OwnTube Nordic AB'
EXPO_PUBLIC_PROVIDER_LEGAL_EMAIL='legal@owntube.tv'
EXPO_PUBLIC_PROVIDER_CONTACT_EMAIL='hello@owntube.tv'
EXPO_PUBLIC_POSTHOG_API_KEY=phc_POSTHOG_API_KEY
EXPO_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
