.video-js {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

video {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  pointer-events: none;
}
